<!DOCTYPE html>
<html>
<head>
    <title>OCR Date Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">OCR Date Prediction</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} <!-- Add this line to include the CSRF token -->
            <div class="form-group">
                <label for="image">Upload your ID photo:</label>
                <input type="file" class="form-control-file" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict Date</button>
        </form>
    </div>
</body>
</html>
